Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.23
Werkzeug==0.9.4
amqp==1.4.5
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.17
celery==3.1.11
iron-cache==0.3.1
iron-celery==0.4.1
iron-core==1.1.1
iron-mq==0.5
itsdangerous==0.24
kombu==3.0.16
python-dateutil==2.2
pytz==2014.3
requests==2.3.0
six==1.6.1
wsgiref==0.1.2
